<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput required
           placeholder="Name"
           formControlName="title"
    >

  </mat-form-field>

  <mat-form-field>
    <input matInput required
           type="number"
           placeholder="Anzahl, Stück, Pkg."
           formControlName="amount"
           >
  </mat-form-field>

  <mat-form-field>
    <input matInput required
           type="number"
           placeholder="maximaler Preis"
           formControlName="price_max"

            >
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Abbrechen</button>
  <button class="mat-raised-button mat-primary" [disabled]="!form.value.title || !form.value.amount || !form.value.price_max" (click)="save()">Speichern</button>
</mat-dialog-actions>
