<mat-card *ngIf="shoppinglist">
  <mat-card-header>
    <mat-card-title>{{ shoppinglist.title }}</mat-card-title>
    <mat-card-subtitle>{{ shoppinglist.dueDate }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="userIsHelper">
    <mat-selection-list *ngFor="let item of shoppinglist.item">
      <bs-shopping-item [item]="item"></bs-shopping-item>
    </mat-selection-list>
  </mat-card-content>

  <mat-card-content *ngIf="!userIsHelper">
    <mat-list *ngFor="let item of shoppinglist.item; let last = last">
      <bs-shopping-item [item]="item" (deleteItemEvent)="deleteItem($event)"></bs-shopping-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list>
  </mat-card-content>

  <mat-card-footer>
    <button (click)="showShoppinglist()" class="ui red button">
      Zurück zur Übersicht
    </button>
  </mat-card-footer>
</mat-card>
