<h1 mat-dialog-title>{{data.shoppinglist.id ? "Einkaufsliste bearbeiten" : "Neue Einkaufsliste erstellen"}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input matInput required [(ngModel)]="data.shoppinglist.title" value="{{data.shoppinglist.title}}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Erledigungsdatum</mat-label>
    <input matInput required type="date" [ngModel]="data.shoppinglist.dueDate | date:'yyyy-MM-dd'"
           (ngModelChange)="data.shoppinglist.dueDate = $event">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button color="primary" [disabled]="!data.shoppinglist.title || !data.shoppinglist.dueDate" [mat-dialog-close]="data.shoppinglist">Bestätigen</button>
</div>
