<h1 mat-dialog-title>Neue Einkaufsliste</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Titel</mat-label>
    <input matInput required [(ngModel)]="data.title" value="{{data.title}}">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Erledigungsdatum</mat-label>
    <input matInput required type="date" [(ngModel)]="data.dueDate">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-raised-button color="primary" [disabled]="!data.title || !data.dueDate" [mat-dialog-close]="{title: data.title, dueDate: data.dueDate, user_id: data.user_id}">Bestätigen</button>
</div>
