<!--USER Section-->
<mat-card *ngIf="!isHelper()">
  <mat-card-header>
    <mat-card-title>Deine Shoppinglisten</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-action-list>

      <mat-list-item *ngFor="let shoppinglist of shoppinglists">

        <span matLine (click)="showDetails(shoppinglist)">{{shoppinglist.title}}</span>
        <button mat-icon-button>
          <mat-icon (click)="editList(shoppinglist)">create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="deleteList(shoppinglist.id)">delete</mat-icon>
        </button>
        <p matLine (click)="showDetails(shoppinglist)">
          Fällig am: {{shoppinglist.dueDate | date:'dd.MM.yyyy'}}
        </p>
        <p matLine (click)="showDetails(shoppinglist)">
          erledigt: {{itemsDone(shoppinglist)}} / {{shoppinglist.item.length}}
        </p>
      </mat-list-item>
    </mat-action-list>
    <mat-list>
      <mat-list-item>
        <mat-form-field matLine>
          <mat-label>Neue Einkaufsliste erstellen</mat-label>
          <input matInput [(ngModel)]="shoppinglist.title">
        </mat-form-field>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>



<!--Helper Section-->
<mat-card *ngIf="isHelper()">
  <mat-card-header>
    <mat-card-title>Deine Shoppinglisten</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-action-list>

      <mat-list-item *ngFor="let shoppinglist of shoppinglists">

        <span matLine (click)="showDetails(shoppinglist)">{{shoppinglist.title}}</span>
        <button mat-icon-button>
          <mat-icon (click)="editList(shoppinglist)">create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="deleteList(shoppinglist.id)">delete</mat-icon>
        </button>
        <p matLine (click)="showDetails(shoppinglist)">
          Fällig am: {{shoppinglist.dueDate | date:'dd.MM.yyyy'}}
        </p>
        <p matLine (click)="showDetails(shoppinglist)">
          erledigt: {{itemsDone(shoppinglist)}} / {{shoppinglist.item.length}}
        </p>
      </mat-list-item>
    </mat-action-list>
    <mat-list>
      <mat-list-item>
        <mat-form-field matLine>
          <mat-label>Neue Einkaufsliste erstellen</mat-label>
          <input matInput [(ngModel)]="shoppinglist.title">
        </mat-form-field>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
