  <mat-list *ngIf="!userIsHelper">
    <h3 matLine>{{item.title}}</h3>
    <p matLine>
      {{item.amount}}
      {{item.price_max}}
      <span class="mat-toolbar-filler"></span>

      <button mat-button (click)="editItem()">
        <mat-icon matListIcon >create</mat-icon>
      </button>

      <button mat-button (click)="deleteItem()">
        <mat-icon matListIcon >delete</mat-icon>
      </button>

    </p>
  </mat-list>

  <mat-list-option *ngIf="userIsHelper">

    <h2 matLine>{{item.title}}</h2>
    <p matLine>
      <span>Anzahl: {{item.amount}}</span>
      <span>maximal Preis: {{item.price_max}}</span>
      <span>bezahlter Preis: {{item.price_payed}}</span>

    </p>
  </mat-list-option>
