<!--User List-->

<mat-list-item *ngIf="!userIsHelper">

  <h2 matLine>{{item.title}}</h2>
  <p matLine>
    Anzahl: {{item.amount}} ||| max. Preis: € {{item.price_max}}
  </p>
  <p matLine>
    <button mat-icon-button (click)="editItem()">
      <mat-icon matListIcon>create</mat-icon>
    </button>

    <button mat-icon-button color="warn" (click)="deleteItem()">
      <mat-icon matListIcon>delete</mat-icon>
    </button>
  </p>
</mat-list-item>


<!--Helper list-->
<mat-list-option *ngIf="userIsHelper">

  <h2 matLine>{{item.title}}</h2>
  <p matLine>
    <span>Anzahl: {{item.amount}}</span>
    <span>maximal Preis: {{item.price_max}}</span>
    <span>bezahlter Preis: {{item.price_payed}}</span>

  </p>
</mat-list-option>
