@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~assets/css/basic.css"; /*basic reset*/
@import "~assets/css/bootstrap.css"; /*bootstrap-gridsystem*/
@import "~assets/css/home.css";

:root{
  --card-gutter: 1rem;
}



html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.lineThrough{
  text-decoration: line-through;
}

.home{
  padding-bottom: 3rem;
}

.card-divider{
  height: var(--card-gutter);
  display: table;
}

mat-card + mat-card{
  margin-top: var(--card-gutter);
}

