<div class="home mat-app-background">

  <mat-toolbar color="primary">

      <span>
          <h1 class="mat-h1">Helferapp</h1>
      </span>

      <span class="mat-toolbar-filler">{{isHelper()}}</span>

      <span *ngIf="isLoggedIn()">
          <span class="mat-icon-button" (click)="logout()">Logout
            <mat-icon>logout</mat-icon>
          </span>
      </span>

  </mat-toolbar>

  <div class="container">

    <bs-greeting></bs-greeting>

    <bs-login></bs-login>

    <div class="row" *ngIf="isLoggedIn()">

      <div class="col-12">
        <bs-shopping-list *ngIf="listOn" (showDetailsEvent)="showDetail($event)"></bs-shopping-list>
        <bs-shoppinglist-detail *ngIf="detailOn" [shoppinglist]="shoppinglist" (showListEvent)="showList()"></bs-shoppinglist-detail>
      </div>


    </div>

  </div>





</div>
